<!DOCTYPE html>
<html>
  <head>
    <title>Leaflet Polygon with Processed Points</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/@turf/turf"></script>
    <style>
      #map {
        height: 600px;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      const map = L.map("map").setView(
        [45.448972310056064, 9.20329798212643],
        16
      );

      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        attribution: "© OpenStreetMap contributors",
      }).addTo(map);

      const coordinates = [
        [
          [9.196913677779321, 45.4526805430221],
          [9.195217524619835, 45.45229500430139],
          [9.195283854632606, 45.451590392242565],
          [9.198590879507861, 45.451557155607276],
          [9.196212474797363, 45.449562921647924],
          [9.19875196667914, 45.44898458061027],
          [9.20222007872573, 45.449429970210105],
          [9.202343263033896, 45.451364382736415],
          [9.204257346366887, 45.45280019608171],
          [9.204598472141697, 45.45329208544183],
          [9.203309774769906, 45.45390361758311],
          [9.202693853230357, 45.452268418974256],
          [9.198998324001025, 45.45301955267777],
          [9.19919731403678, 45.45446861421115],
          [9.198429781042108, 45.454455320237656],
          [9.198515062485768, 45.45291319807092],
          [9.197122132238036, 45.45310596564795],
          [9.197093705089657, 45.45220194648323],
          [9.196913677779321, 45.4526805430221],
        ],
      ];

      fetch("http://localhost:3000/api/get-addresses/draw-inner-polygons", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(coordinates),
      })
        .then((response) => response.json())
        .then((data) => {
          data = JSON.parse(data);
          console.log("Data retrieved:", data.points);
          // Draw the input polygon
          L.geoJSON(
            {
              type: "Polygon",
              coordinates: coordinates,
            },
            {
              style: {
                color: "blue",
                fillOpacity: 0.2,
              },
            }
          ).addTo(map);

          // Add a marker at the centroid of the outer polygon
          var outerPolygon = turf.polygon(coordinates);
          var centroid = turf.centroid(outerPolygon).geometry.coordinates;
          var marker = L.marker([centroid[1], centroid[0]]).addTo(map);
          console.log("Centroid:", centroid[1], centroid[0]);
          for (let j = 0; j < data.points.length; j++) {
            console.log("Polygon" + "[" + j + "]", data.points[j]);
            for (let i = 0; i < data.points.length; i++) {
              if (
                data.points[j][i] &&
                data.points[j][i][0] &&
                data.points[j][i][1]
              ) {
                console.log(
                  "Point" + "[j" + j + "][i" + i + "]",
                  data.points[j][i][0],
                  data.points[j][i][1]
                );
                var marker = L.marker([
                  data.points[j][i][0],
                  data.points[j][i][1],
                ]).addTo(map);
              } else {
                console.log("Point" + "[" + i + "] is null");
              }
            }
          }
        })
        .catch((error) => console.error("Error:", error));
    </script>
  </body>
</html>
